<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="STYLES/diseño.css">
    <link rel="stylesheet" href="STYLES/">
    <title>GOE
    </title>
</head>
<body>
    <div class="menu">
        <div class="title">
            <h1>GOE</h1>
            <img src="IMG/GOE.jpg" alt="">
        </div>

        <ul>
            <li><a href="home.html"><img src="IMG/home.svg" alt=""><p>Home</p></a></li>
            <li><a href="observadores.html"><img src="IMG/info.svg" alt=""><p>Observador</p></a></li>
            <li><a href="asistencia.html"><img src="IMG/inbox.svg" alt=""><p>Asistencia</p></a></li>
            <li><a href="login.php"><img src="IMG/user.svg" alt=""><p>Login</p></a></li>
        </ul>

        <div class="setting">
            <li><a href="alert.html"><img src="IMG/message-circle.svg" alt=""><p>Notificaciones</p></a></li>
            <li><a href="exit.php"><img src="IMG/exit.svg" alt=""><p>Configuracion</p></a></li>
            <li><a href="perfil.html"><img src="IMG/user.svg" alt="" style="border-radius: 50%; border: 1px blueviolet solid; width: 20%;"><p style="font-size: 25px;">Perfil</p></a></li>
        </div>
    </div>  

    <!--Contenido de la pagina-->
    <div class="contenido">
    </div>
</body>
</html>

<!--https://layers.to/layers/clv0q7xjj005dky0hzjj7rhtb-->