* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/colegio-jose-felix-r.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.login-container {
    background-color: #071952;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(10, 199, 224, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #37B7C3;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #007BFF;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top : 10px;
}

.section{
    background-color: #071952a4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(10, 199, 224, 0.425);
    width: auto;
    height: auto; 
    text-align: center;
    margin-top: 100px;
    
} 
    /* Estilos adicionales para la página de inicio */
    .container {
        margin-left: 220px; /* Para dejar espacio al menú */
        padding: 50px;
    }

    .section {
        margin-bottom: 50px;
    }

    .section h2 {
        color: #20c3dc;
        margin-bottom: 20px;
    }

    .section p {
        color: #f9f2f2;
        line-height: 1.6;
    }

    /* Estilo para el formulario de contacto */
    .contact-form {
        background-color: #0f309b90;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }

    .contact-form input, .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact-form button {
        background-color: #007BFF;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact-form button:hover {
        background-color: #0056b3;
    }
